.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 140px;
   // background-color: #27BEC3;
    color: aliceblue;
}
.username{
    width: 300px;
    height: 35px;
    background-color: #27BEC3;
    opacity: 0.8;

}
.username-title{
    position: absolute;
    top: 6px;
    left: 37px;
}
.user-name{
    position: absolute;
    top: 6px;
    left: 120px;
}
.balance{
    width: 300px;
    height: 35px;
    background-color:#000000;
}
.balance-icon{
    width: 40px;
}
.balance-1{
    position: absolute;
    top: 42px;
    display: flex;
}
.balance-title{
    width: 80px;
}
.balance-title-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: absolute;
    top: 0;
}
.balance-digit{
width:180px;
}
.balance-digit-background{
    width: 170px;
    height: 24px;
    background-color:  #333333;
    position: absolute;
    bottom: -3px;
}
// .balance-digit-1{
    
// }
.totalbet{
    width: 300px;
    height: 35px;
    background-color: #27BEC3;
    opacity: 0.7;

}
.totalbet-1{
    position: absolute;
    top: 78px;
    display: flex;
}
.totalbet-icon{
    width: 40px;
}
.totalbet-title-1{
    width: 80px;
}
.totalbet-digit{
width: 180px;
}
.totalbet-digit-1{
    width: 170px;
    height: 20px;
    background-color: #000000;
    opacity: 0.5;
}
.payout{
    width: 300px;
    height: 35px;
    background-color: #27BEC3;
    opacity: 0.7;

}
.payout-1{
    position: absolute;
    top: 112px;
    display: flex;
}
.payout-icon{
    width: 40px;
}
.payout-title{
    width: 80px;
}
.payout-digit{
    width: 180px;
}
.payout-digit-1{
    width: 170px;
    height: 20px;
    background-color: #000000;
    opacity: 0.5;
}

// bonus section


.totalbet-bonus{
    width: 300px;
    height: 23px;
    background-color: #27BEC3;
    opacity: 0.7;

}
.totalbet-bonus-1{
    position: absolute;
    top: 70.5px;
    display: flex;
}
.totalbet-bonus-icon{
    width: 40px;
}
.totalbet-bonus-title-1{
    width: 80px;
}
.totalbet-bonus-digit{
width: 180px;
}
.totalbet-bonus-digit-1{
    width: 170px;
    height: 20px;
    background-color: #000000;
    opacity: 0.5;
}
.payout-bonus{
    width: 300px;
    height: 23px;
    background-color: #27BEC3;
    opacity: 0.7;

}
.payout-bonus-1{
    position: absolute;
    top: 93.3px;
    display: flex;
}
.payout-bonus-icon{
    width: 40px;
}
.payout-bonus-title{
    width: 80px;
}
.payout-bonus-digit{
    width: 180px;
}
.payout-bonus-digit-1{
    width: 170px;
    height: 20px;
    background-color: #000000;
    opacity: 0.5;
}
.bonus{
    width: 300px;
    height: 24px;
    background-color: #27BEC3;
    opacity: 0.7;
}
.bonus-1{
    position: absolute;
    top: 116px;
    display: flex;
}
.bonus-icon{
    width: 40px;
}
.bonus-title{
    width: 80px;
}
.bonus-digit{
    width: 180px;
}
.bonus-digit-1{
    width: 170px;
    height: 20px;
    background-color: #000000;
    opacity: 0.5;
}
span{
    display:inline-block;
    vertical-align: middle;
}