<div class="container">
  <div class="username">
    <span class="username-title">username:</span><span class="user-name">player 1</span>
  </div>
  <div class="balance">
    <div class="balance-1">
      <div class="balance-icon">
        <img src="" class="balance-icon-1">
      </div>
      <div class="balance-title">
        <span class="balance-title-1">Balance:</span>
      </div>
      <div class="balance-digit">
        <div class="balance-digit-background">
          <span class="balance-digit-1">${{Balance}}</span>
        </div>
        
      </div>      
    </div>
  </div>
  <div *ngIf="Bonus<1">
    <div class="totalbet">
      <div class="totalbet-1">
        <div class="totalbet-icon">
          <img src="" class="totalbet-icon-1">
        </div>
        <div class="tootalbet-title">
          <span class="totalbet-title-1">Total Bet:</span>
        </div>
        <div class="totalbet-digit">
          <span class="totalbet-digit-1">${{Totalbet}}</span>
        </div>      
      </div>
    </div>
    <div class="payout">
      <div class="payout-1">
        <div class="payout-icon">
          <img src="" class="payout-icon-1">
        </div>
        <div class="payout-title">
          <span class="payout-title-1">Payout:</span>
        </div>
        <div class="payout-digit">
          <span class="payout-digit-1">${{Payout}}</span>
        </div>      
      </div>
    </div>
  </div>
  <div *ngIf="Bonus>0">
    <div >
      <div class="totalbet-bonus">
        <div class="totalbet-bonus-1">
          <div class="totalbet-bonus-icon">
            <img src="" class="totalbet-bonus-icon-1">
          </div>
          <div class="tootalbet-bonus-title">
            <span class="totalbet-bonus-title-1">Total Bet:</span>
          </div>
          <div class="totalbet-bonus-digit">
            <span class="totalbet-bonus-digit-1">${{Totalbet}}</span>
          </div>      
        </div>
      </div>
      <div class="payout-bonus">
        <div class="payout-bonus-1">
          <div class="payout-bonus-icon">
            <img src="" class="payout-bonus-icon-1">
          </div>
          <div class="payout-bonus-title">
            <span class="payout-bonus-title-1">Payout:</span>
          </div>
          <div class="payout-bonus-digit">
            <span class="payout-bonus-digit-1">${{Payout}}</span>
          </div>      
        </div>
      </div>
      <div class="bonus">
        <div class="bonus-1">
          <div class="bonus-icon">
            <img src="" class="bonus-icon-1">
          </div>
          <div class="bonus-title">
            <span class="bonus-title-1">Bonus:</span>
          </div>
          <div class="bonus-digit">
            <span class="bonus-digit-1">${{Bonus}}</span>
          </div>      
        </div>
      </div>
    </div>
  </div>



</div>

